https://pypi.python.org/packages/source/s/setuptools/setuptools-1.0.tar.gz
flask
flask-restful
flask-sqlalchemy
flask-login
gunicorn
boto
Sphinx
sphinxcontrib-httpdomain
Pillow==2.1.0
Celery==3.0
psycopg2
