flask
flask-restful
flask-sqlalchemy
flask-login
boto
Sphinx
sphinxcontrib-httpdomain
http://pkgs.fedoraproject.org/repo/pkgs/python-imaging/Imaging-1.1.7.tar.gz/fc14a54e1ce02a0225be8854bfba478e/Imaging-1.1.7.tar.gz
Celery==3.0
